body {background-image: url("/home/ruben/Downloads/images/Dust & Dirt Overlay Textures/JPG/1.jpg");}
h1 { color: white; border-style: solid;border}
h2 { color: white;}
h3 { color: white;}
p { color: white;}
ul { color: white;}
